div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20px;
    background-color: rgb(52, 72, 42);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

div.header a {
    text-decoration: none;
}

div.header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.10rem;
    color: white;
}

div.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

div.header ul li {
    margin: 0 1rem;
}

div.header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
    div.header {
        flex-direction: column;
    }
    
    div.header ul {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 3vw;
    }

    div.header ul>li, div.header ul>li>a {
        box-sizing: border-box;
        margin: 0.5rem auto;
        width: 100%;
        text-align: center;
    }
}